<!-- module lastest-movies 12 phim-->
<section>

	<!-- lastest-movies title -->
	<div class="Top icon-movie">
		<h3 class="Title">PHIM MỚI CẬP NHẬT</h3>
	</div>
	<!-- lastest-movies title -->

	<!-- lastest-movies content -->
	<div class="row custom-row">

		<!-- lastest-movies movie layout (with css) -->
		<div class="col-4 col-sm-3 col-md-2 custom-col postMv">
			<div class="postB">
				<a href="https://cungxemphim.online/ten-phim-nam-o-day" title="Xem phim: Tên phim nằm ở đây">
					<div class="postMv__cover">
						<img src="img/covers/cover.jpg" alt="Tên phim nằm ở đây">
						<style>
							.postB img {
								width: 100%;
								object-fit: cover;
								object-position: top;
								-webkit-border-radius: 3px;
								border-radius: 3px;
								overflow: hidden;
							}
						</style>
						<span class="Qlty">
							<span class="episode">tập 42</span>
						</span>
						<style>
							.postB .Qlty {
								background-color: #de1212;
								-webkit-border-radius: 3px;
								border-radius: 3px;
								font-size: 10px;
								position: absolute;
								padding: 2px 5px;
								text-transform: uppercase;
								top: 10px;
								left: 10px;
							}
						</style>
						<h2 class="Title">Tên phim nằm ở đây. Tên phim dài tối đa 2 dòng đó nha</h2>
						<style>
							.postB .Title {
								color: #fff;
								position: absolute;
								bottom: 0;
								left: 0;
								font-size: 12px;
								font-weight: 600;
								padding: 0 10px;
								z-index: 2;
							}
						</style>
					</div>
					<style>
						.postMv__cover {
							position: relative;
							-webkit-transition: 0.2s ease;
							-moz-transition: 0.2s ease;
							transition: 0.2s ease;
						}
						.postMv__cover:before {
							content: '';
							position: absolute;
							display: block;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background: rgb(222,18,18,.2);
							z-index: 1;
							opacity: 0;
							-webkit-transition: 0.4s ease;
							-moz-transition: 0.4s ease;
							transition: 0.4s ease;
						}
						.postMv__cover:hover:before {
							opacity: 0.65;
						}
						.postMv__cover:after {
							font-family: 'Font Awesome 6 Pro';
							content: '\f04b';
							color:#de1212;
							display: flex;
							justify-content: center;
							align-items: center;
							position: absolute;
							left: 50%;
							top: 50%;
							width: 50px;
							height: 50px;
							font-size: 30px;
							transform: translate(-50%, -50%);
							border: 3px solid #fff;
							-webkit-border-radius: 50%;
							border-radius: 10px;
							z-index: 1;
							transition: .2s;
							opacity: 0;
						}
						.postMv__cover:hover:after {
							opacity: 1;
						}
					</style>
				</a>
				<div class="postB__content">
					<div class="Title">Tên phim nằm ở đây. Tên phim dài tối đa 2 dòng đó nha</div>
					<style>
						.postB__content .Title {
							position: relative;
							padding: 0;
							margin-bottom: 5px;
						}
					</style>
					<div class="sub Title">Tên khác của phim nằm ở đây. Tên phim dài tối đa 1 dòng</div>
					<style>
						.sub {
							color: #b0b3b8 !important;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
							text-transform: capitalize;
						}
					</style>
					<div class="postB__info">
						<div class="icon-info">
							<!-- Đánh giá phim 0 - 10 -->
							<span class="rating"><i class="fa-solid fa-star" title="Đánh giá phim"></i>9.9</span>
							<span class="view"><i class="fa-solid fa-eye" title="Lượt xem"></i>6.6M</span>
							<span class="release"><i class="fa-solid fa-calendar-days" title="Năm phát hành"></i>2023</span>
						</div>
						<ul class="list-info">
							<!-- Chất lượng phim: Ví dụ: Vietsub - HD, Thuyết minh - HD -->
							<li class="Qlty">Thuyết minh - HD</li>
						</ul>
					</div>
					<div class="Description">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu libero pellentesque, tristique sapien sit amet, luctus tortor. Curabitur id luctus ligula, vitae mattis elit. Nulla vitae lobortis elit. Nullam eget aliquam tortor. Etiam id dapibus neque. Mauris tincidunt orci libero, nec pharetra elit auctor non. Aenean a magna posuere, tempor lectus sed, convallis odio. Maecenas urna lacus, consectetur vel nulla vel, pharetra egestas dolor. Cras lacinia aliquam tincidunt. Sed vestibulum turpis massa, ut finibus ligula vulputate sed. Vivamus blandit sit amet tortor sed pellentesque. Ut ornare tellus vel quam varius, vel pulvinar nibh pulvinar. Maecenas vitae nulla sed lectus bibendum sodales eu vitae diam. Vivamus vel purus suscipit, blandit justo sit amet, sodales neque. Nullam bibendum faucibus nisi. Suspendisse consequat enim sed congue tincidunt. Suspendisse feugiat nisl non suscipit mollis. Aenean ultricies nisi non eros laoreet congue. Nunc maximus lacinia nibh ut accumsan. Mauris mattis, turpis quis vestibulum tempor, felis justo ornare lectus, quis fermentum ex urna eget turpis. Praesent a cursus felis, auctor suscipit ex. Sed enim ante, vehicula at imperdiet sit amet, aliquet quis nulla. Sed nec sapien ut nibh laoreet cursus in ultricies eros. Etiam diam libero, condimentum vel erat aliquam, scelerisque dignissim arcu. Praesent venenatis venenatis pellentesque. Nulla luctus lacinia massa sit amet pretium. Duis auctor non tellus eu porttitor. Curabitur purus turpis, interdum ac metus ac, hendrerit semper ligula. Cras dictum ac nibh ac commodo. Donec eu augue faucibus, pharetra purus sed, faucibus urna. Nam finibus purus sit amet risus bibendum sagittis. Aliquam placerat eu dui ac placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus tortor urna, pretium vel maximus vulputate, aliquam eget lorem. Mauris vel imperdiet sem. Praesent tempor, metus non imperdiet accumsan, metus massa tristique ligula, non auctor nisi quam id arcu. Fusce eleifend metus vel dui molestie.</p>
						<style>
							.Description {
								display: -webkit-box;
								-webkit-line-clamp: 6;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
							}
							p {
								text-align: justify;
								font-weight: 500;
							}
						</style>
					</div>
					<a href="https://cungxemphim.online/mask-girl-co-gai-mang-mat-na" title="Xem phim: Tên Phim Nằm Ở Đây" class="postB__btn-watch">
						<strong>Xem phim</strong>
					</a>
					<style>
						.postB__btn-watch {
							background: #de1212;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 4px 10px;
							margin-top: 5px;
							-webkit-border-radius: 6px;
							border-radius: 6px;
							text-transform: uppercase;
						}
						.postB__btn-watch:before {
							font-family: 'Font Awesome 6 Pro';
							content: '\f144';
							margin-right: .3rem;
							font-size: 18px;
						}
					</style>
				</div>
				<style>
					.postB__content {
						z-index: 2;
						visibility: hidden;
						opacity: 0;
						position: absolute;
						left: -1rem;
						top: -1rem;
						right: -1rem;
						transition: .2s;
						transform: scale(0);
						-webkit-border-radius: 6px;
						border-radius: 6px;
						padding: 10px;
						min-height: calc(100% + 1rem);
						background-color: #212026;
						color: #b0b3b8;
						box-shadow: 0 0 20px rgba(0, 0, 0, .5);
						-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
					}
				</style>
			</div>
			<style>
				.postB {
					position: relative;
					padding: 0;
					font-size: 12px;
					font-weight: 600;
				}
				@media screen and (min-width: 1440px) {
					.postB:hover {
						z-index: 2;
					}
					.postB:hover .postB__content {
						visibility: visible;
						opacity: 1;
						transform: scale(1);
					}
				}
				.postB:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					height: 100%;
					border-radius: 3px;
					background: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
				}
				.postB .icon-info {
					margin-bottom: 5px;
				}
				.postB .icon-info span {
					margin: 0 5px;
				}
				.postB .list-info {
					margin: 0 0 5px;
					justify-content: center;
				}
				.postB .list-info .Qlty {
					position: relative;
					top: 0;
					left: 0;
					margin: 0;
					background-color: transparent;
				}
			</style>
		</div>
		<!-- end lastest-movies movie layout (with css) -->
	</div>
	<style>
		@media (min-width: 992px) {
			.postList .custom-col {
				flex: 0 0 calc(100% / 6);
				max-width: calc(100% / 6);
			}
		}
	</style>
	<!-- end lastest-movies content -->

</section>
<style>
	.icon-movie:before {
		font-family: 'Font Awesome 6 Pro';
		content: '\e17a';
	}
</style>
<!-- end module lastest-movies -->