<!-- slider home -->
<section class="home">
	<!-- module slider-home -->
	<div class="home__bg">
		<!-- post layout slider-home -->
		<div class="postA container-xl">
			<div class="home__cover">
				<figure class="Objf">
					<img class="home__image" src="img/home/home__bg.jpg" alt="Tên phim nằm ở đây"/>
					<style>
						.home__image {
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							border-radius: 0;
							object-fit: cover;
							object-position: top;
							vertical-align: top;
						}
					</style>
				</figure>
			</div>
			<style>
				.home__cover:before {
					content: "";
					background-color: rgba(0,0,0,0.2);
					z-index: 2;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border-radius: 0;
				}
				.home__cover:after {
					content: "";
					background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1a191f 100%);
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border-radius: 0;
					z-index: 3;
				}
			</style>
			<div class="postA__content row">
				<div class="col-12">
					<div class="col-12 col-md-8">
						<h3 class="postA__title">Tên phim nằm ở đây</h3>
						<style>
							.postA__title {
								color: #e0e0e0;
								text-shadow: 1px 1px 1px #000;
								font-size: 1.875rem;
								line-height: 2.5rem;
								font-weight: 700;
								margin-bottom: 5px;
								text-transform: capitalize;
							}
						</style>
						<div class="postA__info">
							<div class="icon-info">
								<!-- Đánh giá phim 0 - 10 -->
								<span class="rating"><i class="fa-solid fa-star" title="Đánh giá phim"></i>9.9</span>
								<span class="view"><i class="fa-solid fa-eye" title="Lượt xem"></i>6.6M</span>
							</div>
							<style>
								.icon-info {
									display: flex;
									justify-content: center;
								}
								.icon-info span {
									font-size: 12px;
									font-weight: 700;
									color: #b0b3b8;
									position: relative;
									display: inline-flex;
									flex-direction: row;
									justify-content: flex-start;
									align-items: center;
									margin-right: 10px;
								}
								.icon-info span i {
									font-size: 12px;
									text-shadow: 0 0 6px rgba(255,88,96,0.5);
									margin-right: 5px;
								}
								.icon-info span i:before {
									background-image: -webkit-linear-gradient(0deg, #ff4242 0%, #de1212 100%);
									-webkit-background-clip: text;
									-webkit-text-fill-color: transparent;
									color: #de1212;
								}
							</style>
							<ul class="list-info">
								<!-- Phim bộ: Đã công chiếu = Full, Đang công chiếu = chưa full | Phim lẻ: Đã công chiếu = Có link phim, Chưa công chiếu = Không có link -->
								<li class="Qlty">Đã công chiếu</li>
								<li class="Date">2023</li>
							</ul>
							<style>
								.list-info {
									display: flex;
									flex-direction: row;
									align-items: center;
								}
								.list-info li {
									border: 1px solid #b0b3b8;
									padding: 5px 5px 4px;
									line-height: 100%;
									-webkit-border-radius: 4px;
									border-radius: 4px;
									margin-right: 10px;
									font-size: 10px;
									font-weight: 700;
									color: #b0b3b8;
									text-transform: uppercase;
								}
							</style>
						</div>
						<style>
							.postA__info {
								display: flex;
								flex-direction: row;
								align-items: center;
							}
						</style>
						<div class="postA__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu libero pellentesque, tristique sapien sit amet, luctus tortor. Curabitur id luctus ligula, vitae mattis elit. Nulla vitae lobortis elit. Nullam eget aliquam tortor. Etiam id dapibus neque. Mauris tincidunt orci libero, nec pharetra elit auctor non. Aenean a magna posuere, tempor lectus sed, convallis odio. Maecenas urna lacus, consectetur vel nulla vel, pharetra egestas dolor. Cras lacinia aliquam tincidunt. Sed vestibulum turpis massa, ut finibus ligula vulputate sed. Vivamus blandit sit amet tortor sed pellentesque. Ut ornare tellus vel quam varius, vel pulvinar nibh pulvinar. Maecenas vitae nulla sed lectus bibendum sodales eu vitae diam. Vivamus vel purus suscipit, blandit justo sit amet, sodales neque. Nullam bibendum faucibus nisi. Suspendisse consequat enim sed congue tincidunt. Suspendisse feugiat nisl non suscipit mollis. Aenean ultricies nisi non eros laoreet congue. Nunc maximus lacinia nibh ut accumsan. Mauris mattis, turpis quis vestibulum tempor, felis justo ornare lectus, quis fermentum ex urna eget turpis. Praesent a cursus felis, auctor suscipit ex. Sed enim ante, vehicula at imperdiet sit amet, aliquet quis nulla. Sed nec sapien ut nibh laoreet cursus in ultricies eros. Etiam diam libero, condimentum vel erat aliquam, scelerisque dignissim arcu. Praesent venenatis venenatis pellentesque. Nulla luctus lacinia massa sit amet pretium. Duis auctor non tellus eu porttitor. Curabitur purus turpis, interdum ac metus ac, hendrerit semper ligula. Cras dictum ac nibh ac commodo. Donec eu augue faucibus, pharetra purus sed, faucibus urna. Nam finibus purus sit amet risus bibendum sagittis. Aliquam placerat eu dui ac placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus tortor urna, pretium vel maximus vulputate, aliquam eget lorem. Mauris vel imperdiet sem. Praesent tempor, metus non imperdiet accumsan, metus massa tristique ligula, non auctor nisi quam id arcu. Fusce eleifend metus vel dui molestie.</div>
						<style>
							.postA__description {
								color: #e0e0e0;
								margin-top: 5px;
								font-size: 1.125rem;
								line-height: 1.5625rem;
								margin-bottom: 1rem;
								text-align: justify;
								display: -webkit-box;
								-webkit-line-clamp: 5;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						</style>
					</div>
				</div>
			</div>
			<style>
				.postA__content {
					position: relative;
					z-index: 3;
					padding: 0;
				}
			</style>
			<a href="https://cungxemphim.online/ten-phim-nam-o-day" title="Xem phim: Tên phim nằm ở đây" class="btn-main btn-watch">
				<strong>XEM PHIM</strong>
			</a>
			<style>
				.btn-watch {
					display: inline-block;
					text-transform: uppercase;
					font-size: 1rem;
					padding: 5px 1rem;
					width: auto;
					margin-right: .5rem;
					margin-bottom: 1rem;
					background-color: #de1212;
					line-height: 1.875rem;
					position: relative;
					z-index: 4;
				}
				.btn-watch:before {
					font-family: 'Font Awesome 6 Pro';
					content: '\f144';
					font-size: 1.5rem;
					margin-right: .3rem;
					display: inline-block;
					font-style: normal!important;
					font-weight: 400!important;
					line-height: inherit;
					vertical-align: top;
					letter-spacing: normal;
					text-transform: none;
					white-space: nowrap;
					word-wrap: normal;
				}
			</style>	
		</div>
		<!-- end post layout slider-home -->
	</div>
	<!-- end module slider-home -->
</section>
<style>
	.home {
		position: relative;
		display: block;
		padding: 40px 0;
		height: 560px;
	}
	@media (min-width: 768px) {
		.home {
			padding: 60px 0;
		}
	}
	@media (min-width: 1200px) {
		.home {
			padding: 70px 0;
		}
	}
</style>
<!-- end slider-home -->