<!-- module slide-top (owl-carousel) 10 phim -->
<section id="wgt-slide-top">
	
	<!-- slide-top title -->
	<div class="Top icon-star">
		<h3 class="Title">PHIM HOT</h3>
		<style>
			.Title {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				text-transform: capitalize;
			}
			.Top .Title {
				font-weight: 700;
				font-size: 1.125rem;
				margin-bottom: 0;
				padding: 5px 0;
				display: inline-block;
				vertical-align: top;
				margin-right: .5rem;
				color: #fff;
			}
			.Top[class*="icon-"] .Title {
				padding-left: 2rem;
			}
		</style>
	</div>
	<!-- slide-top title -->

	<!-- slide-top content -->
	<div class="row custom-row">

		<!-- slide-top movie layout (with css) -->
		<div class="col-4 col-sm-3 col-md-2 custom-col postMv">
			<div class="postB">
				<a href="https://cungxemphim.online/ten-phim-nam-o-day" title="Xem phim: Tên phim nằm ở đây">
					<div class="postMv__cover">
						<img src="img/covers/cover.jpg" alt="Tên phim nằm ở đây">
						<style>
							.postB img {
								width: 100%;
								object-fit: cover;
								object-position: top;
								-webkit-border-radius: 3px;
								border-radius: 3px;
								overflow: hidden;
							}
						</style>
						<span class="Qlty">
							<span class="episode">tập 42</span>
						</span>
						<style>
							.postB .Qlty {
								background-color: #de1212;
								-webkit-border-radius: 3px;
								border-radius: 3px;
								font-size: 10px;
								position: absolute;
								padding: 2px 5px;
								text-transform: uppercase;
								top: 10px;
								left: 10px;
							}
						</style>
						<h2 class="Title">Tên phim nằm ở đây. Tên phim dài tối đa 2 dòng đó nha</h2>
						<style>
							.postB .Title {
								color: #fff;
								position: absolute;
								bottom: 0;
								left: 0;
								font-size: 12px;
								font-weight: 600;
								padding: 0 10px;
								z-index: 2;
							}
						</style>
					</div>
					<style>
						.postMv__cover {
							position: relative;
							-webkit-transition: 0.2s ease;
							-moz-transition: 0.2s ease;
							transition: 0.2s ease;
						}
						.postMv__cover:before {
							content: '';
							position: absolute;
							display: block;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background: rgb(222,18,18,.2);
							z-index: 1;
							opacity: 0;
							-webkit-transition: 0.4s ease;
							-moz-transition: 0.4s ease;
							transition: 0.4s ease;
						}
						.postMv__cover:hover:before {
							opacity: 0.65;
						}
						.postMv__cover:after {
							font-family: 'Font Awesome 6 Pro';
							content: '\f04b';
							color:#de1212;
							display: flex;
							justify-content: center;
							align-items: center;
							position: absolute;
							left: 50%;
							top: 50%;
							width: 50px;
							height: 50px;
							font-size: 30px;
							transform: translate(-50%, -50%);
							border: 3px solid #fff;
							-webkit-border-radius: 50%;
							border-radius: 10px;
							z-index: 1;
							transition: .2s;
							opacity: 0;
						}
						.postMv__cover:hover:after {
							opacity: 1;
						}
					</style>
				</a>
			</div>
			<style>
				.postB {
					position: relative;
					padding: 0;
					font-size: 12px;
					font-weight: 600;
				}
				.postB:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					height: 100%;
					border-radius: 3px;
					background: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
				}
				.postB .icon-info {
					margin-bottom: 5px;
				}
				.postB .icon-info span {
					margin: 0 5px;
				}
				.postB .list-info {
					margin: 0 0 5px;
					justify-content: center;
				}
				.postB .list-info .Qlty {
					position: relative;
					top: 0;
					left: 0;
					margin: 0;
					background-color: transparent;
				}
			</style>
		</div>
		<!-- end slide-top movie layout (with css) -->
	</div>
	<style>
		.custom-row {
			display: flex;
			margin: 0;
		}
		.custom-col {
			padding: 0 10px 10px 0;
		}
		@media (min-width: 1024px) {
			.custom-col {
				flex: 0 0 calc(100% / 8);
				max-width: calc(100% / 8);
			}
		}
		@media (min-width: 1440px) {
			.custom-col {
				flex: 0 0 calc(100% / 10);
				max-width: calc(100% / 10);
			}
		}
	</style>
	<!-- end slide-top content -->

</section>
<style>
	#wgt-slide-top {
		overflow: hidden;
	}
	#wgt-slide-top .custom-row {
		flex-wrap: nowrap;
	}
	section .Top {
		position: relative;
		margin: 15px 0;
		line-height: 1.875rem;
	}
	[class*="icon-"]:before {
		display: inline-block;
		font-style: normal!important;
		font-weight: 400!important;
		font-size: inherit;
		line-height: inherit;
		vertical-align: top;
		letter-spacing: normal;
		text-transform: none;
		white-space: nowrap;
		word-wrap: normal;
	}
	.Top[class*="icon-"]:before {
		position: absolute;
		font-size: 20px;
		left: 0;
	}
	.Top:before {
		color: #de1212;
	}
	.icon-star:before {
		font-family: 'Font Awesome 6 Pro';
		content: '\f005';
	}
</style>
<!-- end module slide-top -->